<header data-elementor-type="header" data-elementor-id="26397" class="elementor elementor-26397 elementor-location-header" data-elementor-post-type="elementor_library">
  <div class="elementor-element elementor-element-6537c5b e-con-full e-flex e-con e-parent" data-id="6537c5b" data-element_type="container" id="header">
    <div class="elementor-element elementor-element-3395f7bb e-con-full e-flex e-con e-child" data-id="3395f7bb" data-element_type="container" data-settings='{"background_background":"classic"}'>
      <div class="elementor-element elementor-element-3bb71253 e-con-full e-flex e-con e-child" data-id="3bb71253" data-element_type="container">
        <div class="elementor-element elementor-element-2268b034 btIcone elementor-hidden-mobile elementor-widget elementor-widget-button" data-id="2268b034" data-element_type="widget" data-widget_type="button.default">
          <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
              <a class="elementor-button elementor-button-link elementor-size-sm" href="https://www.aegea.com.br/unidades/">
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">UNIDADES</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-2250cf6c btIcone elementor-hidden-mobile elementor-widget elementor-widget-button" data-id="2250cf6c" data-element_type="widget" data-widget_type="button.default">
          <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
              <a class="elementor-button elementor-button-link elementor-size-sm" href="https://institutoaegea.com.br/" target="_blank">
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">INSTITUTO AEGEA</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-48c98011 btIcone elementor-widget elementor-widget-button" data-id="48c98011" data-element_type="widget" data-widget_type="button.default">
          <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
              <a class="elementor-button elementor-button-link elementor-size-sm" href="https://ri.aegea.com.br/" target="_blank">
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">INVESTIDORES</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-f965af3 cpel-switcher--layout-horizontal elementor-widget elementor-widget-polylang-language-switcher" data-id="f965af3" data-element_type="widget" data-widget_type="polylang-language-switcher.default">
          <div class="elementor-widget-container">
            <nav class="cpel-switcher__nav"><ul class="cpel-switcher__list"><li class="cpel-switcher__lang"><a lang="en-US" hreflang="en-US" href="https://www.aegea.com.br/en/contact/"><span class="cpel-switcher__flag cpel-switcher__flag--us"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAMAAABBPP0LAAAAmVBMVEViZsViZMJiYrf9gnL8eWrlYkjgYkjZYkj8/PujwPybvPz4+PetraBEgfo+fvo3efkydfkqcvj8Y2T8UlL8Q0P8MzP9k4Hz8/Lu7u4DdPj9/VrKysI9fPoDc/EAZ7z7IiLHYkjp6ekCcOTk5OIASbfY/v21takAJrT5Dg6sYkjc3Nn94t2RkYD+y8KeYkjs/v7l5fz0dF22YkjWvcOLAAAAgElEQVR4AR2KNULFQBgGZ5J13KGGKvc/Cw1uPe62eb9+Jr1EUBFHSgxxjP2Eca6AfUSfVlUfBvm1Ui1bqafctqMndNkXpb01h5TLx4b6TIXgwOCHfjv+/Pz+5vPRw7txGWT2h6yO0/GaYltIp5PT1dEpLNPL/SdWjYjAAZtvRPgHJX4Xio+DSrkAAAAASUVORK5CYII=" alt="English" width="16" height="11" style="width: 16px; height: 11px;" /></span><span class="cpel-switcher__code">EN</span></a></li></ul></nav>
          </div>
        </div>
      </div>
    </div>
    <div class="elementor-element elementor-element-278b15dd e-con-full e-flex e-con e-child" data-id="278b15dd" data-element_type="container" id="menuHeader" data-settings='{"background_background":"classic"}'>
      <div class="elementor-element elementor-element-4e1bc227 e-con-full e-flex e-con e-child" data-id="4e1bc227" data-element_type="container">
        <div class="elementor-element elementor-element-72d5a429 elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="72d5a429" data-element_type="widget" data-widget_type="theme-site-logo.default">
          <div class="elementor-widget-container">
            <a href="https://www.aegea.com.br">
              <img src="https://www.aegea.com.br/wp-content/uploads/2024/02/aegea.svg" title="aegea" alt="aegea" loading="lazy" />
            </a>
          </div>
        </div>
      </div>
      <div class="elementor-element elementor-element-274b856 e-con-full e-flex e-con e-child" data-id="274b856" data-element_type="container">
        <div class="elementor-element elementor-element-23de80de elementor-nav-menu--stretch elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu" data-id="23de80de" data-element_type="widget" data-settings='{"full_width":"stretch","layout":"horizontal","submenu_icon":{"value":"<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-caret-down\" viewBox=\"0 0 320 512\" xmlns=\"http:\/\/www.w3.org\/2000\/svg\"><path d=\"M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z\"></path></svg>","library":"fa-solid"},"toggle":"burger"}' data-widget_type="nav-menu.default">
          <div class="elementor-widget-container">
            <nav aria-label="Menu" class="elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-fade">
              <ul id="menu-1-23de80de" class="elementor-nav-menu">
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26409"><a href="#" class="elementor-item">Quem Somos</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26408"><a href="#" class="elementor-item">Unidades</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-26328 current_page_item menu-item-26405"><a href="#" aria-current="page" class="elementor-item elementor-item-active">Contato</a></li>
              </ul>
            </nav>
            <div class="elementor-menu-toggle" role="button" tabindex="0" aria-label="Alternar menu" aria-expanded="false">
              <span class="elementor-menu-toggle__icon--open"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M26.33 8H5V9.37613H26.33V8Z" fill="#0027BD"></path><path d="M26.33 22.6787H5V23.8255H26.33V22.6787Z" fill="#0027BD"></path><path d="M7.75226 15.3394H23.5777V16.7155H7.75226V15.3394Z" fill="#0027BD"></path></svg></span>
              <svg aria-hidden="true" role="presentation" class="elementor-menu-toggle__icon--close e-font-icon-svg e-eicon-close" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path d="M742 167L500 408 258 167C246 154 233 150 217 150 196 150 179 158 167 167 154 179 150 196 150 212 150 229 154 242 171 254L408 500 167 742C138 771 138 800 167 829 196 858 225 858 254 829L496 587 738 829C750 842 767 846 783 846 800 846 817 842 829 829 842 817 846 804 846 783 846 767 842 750 829 737L588 500 833 258C863 229 863 200 833 171 804 137 775 137 742 167Z"></path></svg>
            </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-db5999e elementor-hidden-tablet elementor-hidden-mobile elementor-view-default elementor-widget elementor-widget-icon" data-id="db5999e" data-element_type="widget" id="iconeBusca" data-widget_type="icon.default">
          <div class="elementor-widget-container">
            <div class="elementor-icon-wrapper">
              <div class="elementor-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="16" viewBox="0 0 19 16" fill="none"><path d="M17.5858 15.8614L11.7873 11.4759C11.0938 10.9507 10.8978 10.0123 11.3232 9.24448C12.4661 7.17837 12.0967 4.56707 10.4244 2.89551C9.38948 1.86112 8.01186 1.30394 6.54889 1.3346C5.08592 1.3626 3.73098 1.97043 2.73344 3.04614C0.890393 5.03494 0.857054 8.17811 2.65876 10.2016C4.38178 12.1384 7.2317 12.5649 9.43482 11.216C9.53084 11.1573 9.62686 11.0933 9.72021 11.028L10.487 12.1184C10.371 12.1997 10.251 12.2797 10.131 12.353C7.37706 14.0392 3.81499 13.5073 1.66255 11.088C-0.589916 8.558 -0.548573 4.62705 1.7559 2.14105C3.00149 0.797412 4.69518 0.0376173 6.52355 0.00162698C8.35593 -0.0383623 10.0736 0.660119 11.3672 1.95311C13.457 4.04188 13.9197 7.30634 12.4901 9.88964C12.3888 10.0723 12.4314 10.2922 12.5915 10.4122L18.39 14.7977L17.5858 15.86V15.8614Z" fill="#0027BD"></path></svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
